<div class="container">
  <!-- Section CV -->
  <section id="cv">
    <h2>Mon CV</h2>
    <p>Télécharger mon CV : <a href="cv.pdf" download>Télécharger ici</a></p>
  </section>

  <!-- Section Compétences -->
  <section id="competences">
    <h2>Mes Compétences</h2>
    <ul>
      <li><strong>Développement Web :</strong> HTML, CSS, JavaScript, Angular, React</li>
      <li><strong>Backend :</strong> Node.js, Python, Java</li>
      <li><strong>Bases de données :</strong> MySQL, PostgreSQL</li>
      <li><strong>Outils :</strong> Git, Docker,</li>
    </ul>
  </section>

  <!-- Section Projets -->
  <section id="projets">
    <h2>Projets</h2>
    <div class="project">
      <h3>Projet 1: Site Web de gestion des services </h3>
      <p>Conception et développement d’un site web de gestion des services - Backend : Laravel  </p>
    </div>
    <div class="project">
      <h3>Projet 2: Site E-commerce</h3>
      <p>Conception et développement d’un site web e-commerce - Backend : Django </p>
    </div>
    <div class="project">
      <h3>Projet 3: Simulateur de tarification et de modalité de paiement</h3>
      <p>Création d’un simulateur de tarification et de modalité de paiement - Frontend : React Js </p>
    </div>
  </section>

  <!-- Section Contact -->
  <section id="contact">
    <h2>Contact</h2>
    <p>Email: <a href="mailto:monemail&#64;example.com">khaliltouir&#64;live.fr</a></p>

    <p>Téléphone: +33745750463 / +216253421029</p><br>
   
  </section>
</div>
